<!doctype html>
<html>
<head>
<title>urt</title>
<link rel='stylesheet' href='/static/simple.css' />
</head>
<body>

<a href='/'>home</a>
| <a href='/asd/v1/'>v1</a>
| <a href='/123/qwe/'>bad url</a>
| <a href='/form-test/'>form test</a>
| <a href='/urt/'>urt</a>
| <a href='/urt/servers/'>urt servers</a>

{% block main %}{% endblock %}

</body>
</html>
