{% extends "base.html" %}

{% block main %}
<h1>form test</h1>

<p>{{ data.var1 }}</p>
<p>{{ data.var2 }}</p>

<hr/>

<form method="post">
<label for="var1">var1:</label>
<input type="text" name="var1" id="var1">
<br/>
<label for="var2">var2:</label>
<input type="text" name="var2" id="var2">
<br/>
<input type="submit" value="Submit">
</form>

{% endblock %}
